<div class="container">
  <div class="header" class="logo">
    <a routerLink="/page-accueil" class="back">&lt; Retour</a>
    <img
      src="/assets/images/Rectangle 6.png"
      alt="Rectangle 6"
      class="image1"
    />
  </div>
  <h2>Inscription</h2>
  <div class="signup-link">
    <p>Déjà un compte ? <a routerLink="/connexion">Se connecter</a></p>
  </div>
  <form action="#" method="post">
    <div class="input-group">
      <input
        type="text"
        name="firstName"
        id="firstName"
        placeholder="Prénom"
        required
      />
    </div>
    <div class="input-group">
      <input
        type="text"
        name="lastName"
        id="lastName"
        placeholder="Nom"
        required
      />
    </div>
    <div class="input-group">
      <div class="country-code">
        <select name="countryCode" id="countryCode">
          <option value="+33">+33</option>
          <!-- Ajoutez ici d'autres options de pays si nécessaire -->
        </select>
      </div>
      <input
        type="text"
        name="phoneNumber"
        id="phoneNumber"
        placeholder="numéro de téléphone"
        required
      />
    </div>
    <div class="input-group">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Adresse email"
        required
      />
    </div>

    <div class="input-group">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Mot de passe"
        required
      />
    </div>
    <div class="input-group">
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        placeholder="Confirmer le mot de passe"
        required
      />
    </div>
    <div class="signup-link">
      <input
        type="checkbox"
        name="termsAndConditions"
        id="termsAndConditions"
        required
      />
      <label for="termsAndConditions"
        >J'accepte les
        <a routerLink="#">conditions générales d'utilisation</a> *</label
      >
    </div>
    <div class="input-group">
      <button type="submit">Créer mon compte</button>
    </div>
    <img
      src="/assets/images/Rectangle 7.png"
      alt="Rectangle 7"
      class="image1"
    />
  </form>
</div>
