<!-- Première section -->
<section class="mission-section">
  <img
    class="imagesanté"
    src="/assets/images/Component 1.png"
    alt="Image de professionnels de santé"
  />
  <img
    class="blocbleu"
    src="/assets/images/image17.png"
    alt="Image de professionnels de santé"
  />
  <link rel="stylesheet" href="" />
  <p class="mission-text1">
    ALENIA, des <span>professionnel</span> de la santé, des
    <span>facilitateurs</span>
  </p>
  <p class="mission-text2">
    et des <span>bénéficiaires</span> de soins de qualité axés sur la croissance
    organique
  </p>
  <a href="./../inscription/inscription.component.html" class="buttoninscrire"
    >S'inscrire</a
  >
  <div class="image-text-container">
    <div class="text-container">
      <h1>Notre mission</h1>
      <p class="welcome-text1">
        Bienvenue sur notre plateforme dédiée à la santé, où chaque mission est
        une opportunité <br />
        de faire une différence dans le domaine médical. Explorez nos
        possibilités et découvrez <br />
        comment nous simplifions la recherche et la participation à des missions
        pour les <br />
        professionnels de la santé engagés
      </p>
      <img
        class="bordure1"
        src="/assets/images/clients-categories-section.png"
        alt="Image de professionnels de santé"
      />
    </div>
  </div>
</section>

<!-- Deuxième section -->
<section class="mission-section reverse-section">
  <div class="container">
    <div class="images"></div>
    <div></div>
    <div class="rectangle">
      <img
        class="img"
        src="/assets/images/Terrefemme.png"
        alt="Image de professionnels de santé"
      />
      <h2 class="title-valeurs">Nos valeurs</h2>
      <p class="texte-valeurs">
        Explorez nos différentes opportunités, <br />
        de remplacements médicaux à des interventions d'urgence, en passant
        <br />
        par des collaborations enrichissantes au sein d'établissements de santé.
        <br />
        Qu'il s'agisse de missions à court terme ou de projets humanitaires à
        <br />
        long terme, nous avons à cœur de simplifier votre engagement, <br />
        vous permettant de vous concentrer pleinement sur ce qui compte : <br />
        votre impact positif dans le domaine médical.
      </p>
    </div>
  </div>
</section>
