<div class="content" *ngIf="missions.length > 0">
  <div class="card" *ngFor="let mission of missions">
    <img src="/assets/images/ephad1.jpg" alt="Property Image" />
    <h2>{{ mission.etablissement?.name }}</h2>
    <p class="poste">{{ mission.name }}</p>
    <p class="description">
      Description du poste, Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Unde voluptatibus temporibus ipsam similique facere sequi
      praesentium assumenda, placeat totam adipisci rerum omnis neque sit
      asperiores, pariatur, officia quo. Voluptas, iusto?
    </p>
    <!-- Link to the new detail page -->
    <a [routerLink]="['/mission-detail-hilguegue', mission.id]">
      <button>Voir la mission</button>
    </a>
  </div>
</div>


<!-- <div class="content">
  <div class="card">
    <img src="/assets/images/ephad1.jpg" alt="Property Image" />
    <h2>Établissement Hilguegue</h2>
    <p class="poste">Médecin de santé préventive<br />(F/H)</p>
    <p class="description">
      Description du poste, Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Unde voluptatibus temporibus ipsam similique facere sequi
      praesentium assumenda, placeat totam adipisci rerum omnis neque sit
      asperiores, pariatur, officia quo. Voluptas, iusto?
    </p>
    
    <a routerLink="/mission-detail-hilguegue"
      ><button>Voir la mission</button></a
    >
  </div>

  <div class="card">
    <img src="/assets/images/ephad2.jpg" alt="Property Image" />
    <h2>
      Établissement <br />
      dernier soupir
    </h2>
    <p class="poste">Poste</p>
    <p class="description">
      Description du poste, Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Dolor harum iste cupiditate hic quo nisi, quas eaque veritatis
      porro, nihil omnis mollitia ut assumenda sint? Asperiores, mollitia.
      Veniam, accusantium facere.
    </p>
    
    <a routerLink="#"><button>Voir la mission</button></a>
  </div>

  <div class="card">
    <img src="/assets/images/ephad3.jpg" alt="Property Image" />
    <h2>Établissement <br />Dora l'exploratrice</h2>
    <p class="poste">Poste</p>
    <p class="description">
      Description du poste , Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Provident a esse, atque eius culpa adipisci illum doloribus eaque
      commodi beatae libero sunt excepturi quam autem, earum voluptate eligendi,
      quia possimus.
    </p>
    
    <a routerLink="#"><button>Voir la mission</button></a>
  </div>

  <div class="card">
    <img src="/assets/images/ephad4.jpg" alt="Property Image" />
    <h2>Établissement Jour/Nuit</h2>
    <p class="poste">Poste</p>
    <p class="description">
      Description du poste, Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Reiciendis corporis possimus, facere iure, ea ut reprehenderit odit
      inventore necessitatibus labore sit non. Nisi alias ea dolore, saepe quia
      architecto repudiandae.
    </p>
    
    <a routerLink="#"><button>Voir la mission</button></a>
  </div>
</div>
 -->