.home-buttoninscrire {
  background-color: rgba(255, 107, 107, 0.71);
  color: white;
  padding: 25px 45px;
  border-radius: 25px;
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.home-imagesanté {
  max-width: 100%;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.home-mission-section {
  position: relative;
  padding: 20px;
  text-align: center;
}

.home-mission-text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: 30px;
  line-height: 1.5;
  text-align: center;
  font-size: 37px;
  font-family: "Newsreader", sans-serif;
  margin-top: -70px;
  display: inline-block;
  color: black;
  z-index: 1;
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-mission-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: 37px;
  line-height: 1.5;
  text-align: center;
  font-size: 35px;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  display: inline-block;
  color: black;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-mission-text1 span {
  font-family: "Nothing You Could Do", sans-serif;
}

.home-mission-text2 span {
  font-family: "Nothing You Could Do", sans-serif;
}

.home-blocbleu {
  max-width: 100%;
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.home-text-container {
  flex-grow: 1;
  text-align: center;
}

.home-text-container h1 {
  font-size: 30px;
  margin-top: 50px;
  font-family: "Italiana", sans-serif;
  color: black;
}

.home-bordure1 {
  position: relative;
  max-width: 70%;
  margin: auto;
  width: auto;
  height: auto;
  order: 2;
}

.home-text-container p {
  font-family: "Inter", sans-serif;
  color: black;
  order: 1;
}

.home-welcome-text1 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  white-space: normal;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
}

.home-text-container h2 {
  font-size: 24px;
  font-family: Italiana, sans-serif;
}

.home-welcome-text {
  font-family: "Inter", sans-serif;
  font-size: 37px;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 2;
  white-space: normal;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
  margin-top: 50px;
}

.home-rectangle {
  position: relative;
  background-color: rgba(255, 211, 211, 1);
  border-radius: 10px;
  padding: 100px;
  box-shadow: 0 0 0 2px #05060900, 0 0 0 6px transparent;
  margin-bottom: -50px;
  margin-right: -5px;
  order: 2;
  flex-grow: 1;
  margin-top: -150px;
}

.home-img {
  position: absolute;
  top: 150px;
  right: 200px;
  max-width: 100%;
  width: 35%;
  height: 40;
  order: 1;
}

.home-title-valeurs {
  font-size: 33px;
  font-family: Italiana, sans-serif;
  text-align: left;
  margin-top: 50px;
}

.home-texte-valeurs {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: left;
  line-height: 1;
  order: 1;
}

.home-welcome-text2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: normal;
}

.home-reverse-section .home-italic-text {
  font-family: Italiana, sans-serif;
  font-size: 24px;
}

.home-reverse-section .home-blue-button {
  margin-top: 20px;
}

.home-logo-container {
  display: flex;
  align-items: center;
}

.home-logo-container img {
  max-width: 50px;
}

footer {
  display: flex;
  padding: 20px;
  background-color: #90ade1;
  margin-right: -20px;
  margin-left: -20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.home-footer-logo {
  position: absolute;
  left: 50;
  width: 50px;
  height: auto;
}

.home-footer-section {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.home-footer-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25%;
}

.home-footer-section:first-child {
  margin-left: 40px;
}

.home-footer-text {
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
}

.home-section-title {
  font-family: "Inria Serif", serif;
  font-weight: bold;
  font-size: 1.2em;
}
