body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.content {
    margin-left: 100px; /* Ajuste selon la largeur de la sidebar */
    padding: 20px;
}

.mission-detail {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mission-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

h2, h3, p {
    margin: 10px 0;
}

.poste {
    font-weight: 600;
    color: #333;
}

.divider {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 80%;
    margin: 20px auto;
}

.center {
    text-align: center;
}

.description {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
}

.button-container {
    margin-top: 30px;
}

.apply-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #45a049;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    height: 60px; /* Logo plus petit */
    width: auto;
  }
  
  .logo-container .logo-text {
    font-size: 2em; /* Texte du logo plus petit */
    margin-left: 10px;
    font-family: "PT Serif", sans-serif; /* Police d'écriture professionnelle */
    color: rgb(105, 155, 247); /* Couleur bleue */
    margin-left: 10px; /* Espacement entre le logo et le texte */
    font-size: 50px;
  }
  
  .sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: black;
  }
  
  .nav-text {
    font-family: "Inter", sans-serif; /* Police d'écriture professionnelle */
  }