/********Header********/
header {
  padding: 20px;
  display: flex;
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  /* Centrer verticalement */
}

.logo {
  width: 60px;
  /* Nouvelle taille du logo */
  /* Autres styles si nécessaire */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: "PT Serif", sans-serif;
  /* Police d'écriture professionnelle */
  color: rgb(105, 155, 247);
  /* Couleur bleue */
  margin-left: 10px;
  /* Espacement entre le logo et le texte */
  font-size: 50px;
}

.nav-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Effet d'ombre */
  padding: 10px;
  /* Marge intérieure pour l'effet d'ombre */
  border-radius: 10px;
  /* Coins arrondis */
}

.logo-nav-container {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  /* Centrer les éléments horizontalement */
  align-items: center;
  /* Centrer les éléments verticalement */
  gap: 100px;
  /* Espacement uniforme entre les éléments */
}

.nav-list a {
  font-family: "Inter", sans-serif;
  /* Police Inter */
  color: black;
  /* Couleur des liens */
  text-decoration: none;
  /* Supprime le soulignage des liens */
}

nav li {
  font-family: "Roboto", sans-serif;
  /* Police d'écriture professionnelle */
}

/******** Styles pour les boutons *********/

.blue-button {
  background-color: rgb(105, 155, 247);
  /* Couleur de fond bleue */
  color: white;
  /* Couleur du texte blanc */
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  /* Supprimer le contour */
  font-family: "Inter", sans-serif;
  /* Police Inter */
}

.blue-button[href="#"] {
  color: white;
  /* Couleur du texte blanc pour le lien "Se connecter" */
}

/****************Body****************/

.titol-L {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.image-woman {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
}
.centered-image {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*** Section "image-yoga" ***/
.image-yoga {
  display: flex;
  position: absolute;
  top: 15%;
  right: 15%;
}

.welcome-text1,
.no-bullets {
  font-family: "Inter", sans-serif;
  /* Utilisation de la police Inter */
  line-height: 1.5;
  /* Augmentation de l'espacement entre les lignes */
  margin: 4.5%;
}

.text-container h2 {
  font-size: 30px;
  /* Taille de la police en gros */
  font-family: Italiana, sans-serif;
  /* Police italienne "Italiana" */
}

.text-container2 h2 {
  font-size: 30px;
  /* Taille de la police en gros */
  font-family: Italiana, sans-serif;
  /* Police italienne "Italiana" */
}

.flex-container {
  display: flex;
  align-items: center;
  /* Centrer verticalement les éléments */
}

.text {
  flex: 1;
  /* Pour que le texte prenne tout l'espace restant */
  padding-left: 200px;
  /* Espacement autour du texte */
  font-family: "Inter", sans-serif;
}

.image-container {
  margin-left: 10px;
  /* Espacement entre le texte et l'image */
  padding-right: 200px;
}

.image-container img {
  max-width: 100%;
  /* Pour s'assurer que l'image ne dépasse pas de son conteneur */
}

.test {
  position: absolute;
  text-indent: 30px;
  line-height: 1.5;
  text-align: center;
  font-size: 32px;
  font-family: "Newsreader", sans-serif;
  display: inline-block;
  color: black;
  z-index: index 1;
  white-space: nowrap;
  /* Empêcher le texte de se retourner /
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); / Ajouter une ombre au texte */
}

/********FOOTER*********/

footer {
  display: flex;
  padding: 20px;
  background-color: #90ade1;
  margin-right: -20px;
  margin-left: -20px;
  margin-top: 50px;
  /* Fond bleu clair gris */
}

.footer-logo {
  position: absolute;
  left: 50;
  width: 50px;
  height: auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.footer-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25%;
}

.footer-section:first-child {
  margin-left: 40px;
}

.footer-text {
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  /* Police d'écriture agréable à l'œil */
}

.section-title {
  font-family: "Inria Serif", serif;
  /* Police Inria Serif pour le titre */
  font-weight: bold;
  font-size: 1.2em;
}
