<main class="main">
  <!-- hearder pour acceuil, ce que l'on propose, qui sommes nous -->
  <header
    *ngIf="
      currentUrl === '/page-accueil' ||
      currentUrl === '/ce-que-lon-propose' ||
      currentUrl === '/qui-sommes-nous'
    "
    class="header-first"
  >
    <div class="nav-container-first">
      <div class="logo-nav-container-first">
        <div class="logo-container-first">
          <img
            src="/assets/images/logo.png"
            alt="Logo ALENIA"
            class="logo-first"
          />
          <span class="logo-text-first">ALENIA</span>
        </div>
        <nav class="nav-first">
          <ul class="nav-list-first">
            <li>
              <a
                routerLink="page-accueil"
                routerLinkActive="router-link-active"
                ariaCurrentWhenActive="page"
                >Page d'accueil</a
              >
            </li>
            <li>
              <a
                routerLink="ce-que-lon-propose"
                routerLinkActive="router-link-active"
                ariaCurrentWhenActive="page"
                >Ce que l'on propose</a
              >
            </li>
            <li>
              <a
                routerLink="qui-sommes-nous"
                routerLinkActive="router-link-active"
                ariaCurrentWhenActive="page"
                >Qui sommes-nous</a
              >
            </li>
            <li>
              <a
                routerLink="#"
                routerLinkActive="router-link-active"
                ariaCurrentWhenActive="page"
                >Établissements partenaires</a
              >
            </li>
            <li>
              <a
                routerLink="connexion"
                routerLinkActive="router-link-active"
                ariaCurrentWhenActive="page"
                >Se connecter</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <!-- header pour connexion, inscription -->
  <header
    *ngIf="currentUrl === '/connexion' || currentUrl === '/inscription'"
    class="header-connect"
  >
    <div class="logo-connect">
      <img
        src="/assets/images/logo.png"
        alt="Logo de Lénia"
        class="logo-img-connect"
      />
      <h1 class="logo-text-connect">Lénia</h1>
    </div>
  </header>

  <!-- header pour disponibilite, mission-detail-hilguegue, 
   missions, missions passes, missions venir, offres, prestation -->
  <div
    *ngIf="
      currentUrl === '/disponibilite' ||
      currentUrl === '/mission-detail-hilguegue' ||
      currentUrl === '/missions' ||
      currentUrl === '/missions-passes' ||
      currentUrl === '/missions-venir' ||
      currentUrl === '/offres1' ||
      currentUrl === '/offres2' ||
      currentUrl === '/prestation' ||
      currentUrl === '/profil1' ||
      currentUrl === '/profil2' ||
      currentUrl === '/profil3'
    "
  >
    <header>
      <div class="logo-container">
        <img src="/assets/images/logo.png" alt="Logo Lénia" />
        <span class="logo-text">ALENIA</span>
      </div>
    </header>

    <!-- sidebar pour mission detail, missions, missions passes, missions venir, offres, profils -->
    <div
      *ngIf="
        currentUrl === '/mission-detail-hilguegue' ||
        currentUrl === '/missions' ||
        currentUrl === '/missions-passes' ||
        currentUrl === '/missions-venir' ||
        currentUrl === '/offres1' ||
        currentUrl === '/offres2' ||
        currentUrl === '/profil1' ||
        currentUrl === '/profil2' ||
        currentUrl === '/profil3'
      "
      class="sidebar"
    >
      <a routerLink="missions" class="nav-item">
        <div class="nav-icon">
          <img src="/assets/images/offres_icon.png" alt="Search" />
        </div>
        <div class="nav-text">Offres</div>
      </a>
      <a routerLink="disponibilite" class="nav-item">
        <div class="nav-icon">
          <img src="/assets/images/dispo_icon (2).png" alt="Calendar" />
        </div>
        <div class="nav-text">Disponibilités</div>
      </a>
      <a routerLink="missions-venir" class="nav-item">
        <div class="nav-icon">
          <img src="/assets/images/mission_icon.png" alt="Portfolio" />
        </div>
        <div class="nav-text">Missions</div>
      </a>
      <a routerLink="profil1" class="nav-item">
        <div class="nav-icon">
          <img src="/assets/images/profil_icon.png" alt="User" />
        </div>
        <div class="nav-text">Profil</div>
      </a>
    </div>

    <!-- sidebar de disponibilite -->
    <div *ngIf="currentUrl === '/disponibilite'" class="sidebar">
      <a routerLink="missions" class="nav-item">
        <div class="nav-icon">🔍</div>
        <div class="nav-text">Offres</div>
      </a>
      <a routerLink="disponibilite" class="nav-item">
        <div class="nav-icon">🗓️</div>
        <div class="nav-text">Disponibilités</div>
      </a>
      <a routerLink="missions-venir" class="nav-item">
        <div class="nav-icon">💼</div>
        <div class="nav-text">Missions</div>
      </a>
      <a routerLink="profil" class="nav-item">
        <div class="nav-icon">👤</div>
        <div class="nav-text">Profil</div>
      </a>
    </div>

    <!-- sidebar des profils -->
    <div
      class="profil-sidebar2"
      *ngIf="
        currentUrl === '/profil1' ||
        currentUrl === '/profil2' ||
        currentUrl === '/profil3'
      "
    >
      <p class="profil-section-title2">Informations personnelles</p>
      <div class="profil-nav-item2">Établissements</div>
      <div class="profil-nav-item2">Métiers</div>
      <a routerLink="/profil2" class="profil-nav-item2">Documents</a>
      <p class="profil-section-title2">Paramètres</p>
      <a routerLink="/profil2" class="profil-nav-item2">Compte</a>
      <div class="profil-nav-item2">Notifications</div>
      <p class="profil-section-title2">Besoin d'aide ?</p>
      <a routerLink="/profil2" class="profil-nav-item2">Aide & Support</a>
      <hr />
      <button class="profil-nav-item2 profil-logout" onclick="deconnexion()">
        Déconnexion
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>

  <footer
    *ngIf="
      currentUrl !== '/missions-venir' &&
      currentUrl !== '/prestation' &&
      currentUrl !== '/profil1' &&
      currentUrl !== '/profil2' &&
      currentUrl !== '/profil3' &&
      currentUrl !== '/inscription' &&
      currentUrl !== '/connexion' &&
      currentUrl !== '/missions' &&
      currentUrl !== '/missions-passes' &&
      currentUrl !== '/offres1' &&
      currentUrl !== '/offres2'
    "
  >
    <img src="/assets/images/logo.png" alt="Logo" class="footer-logo" />
    <!-- Ajoutez le chemin vers votre logo ici -->
    <div class="footer-section2">
      <p class="footer-text">© 2021 All rights reserved</p>
      <p class="footer-text">Mentions légales</p>
      <p class="footer-text">Conditions générales d'utilisation</p>
      <p class="footer-text">Politique de protection des données</p>
      <p class="footer-text">Banque et opérations de services bancaires</p>
    </div>
    <div class="footer-section">
      <p class="section-title">Pages</p>
      <p class="footer-text">Nos clients</p>
      <p class="footer-text">Solutions</p>
      <p class="footer-text">Opportunités d'emploi</p>
      <p class="footer-text">Ressources</p>
      <p class="footer-text">Nouveautés</p>
    </div>
    <div class="footer-section">
      <p class="section-title">Social</p>
      <p class="footer-text">LinkedIn</p>
      <p class="footer-text">Instagram</p>
      <p class="footer-text">YouTube!</p>
      <p class="footer-text">Twitter</p>
    </div>
    <div class="footer-section">
      <p class="section-title">Contact</p>
      <p class="footer-text">Email!</p>
      <p class="footer-text">FAQ!</p>
      <p class="footer-text">Unsubscribe!</p>
      <p class="footer-text">Écrivez-nous!</p>
    </div>
  </footer>
</main>
