<section class="home-mission-section">
  <img
    class="home-imagesanté"
    src="/assets/images/Component 1.png"
    alt="Image de professionnels de santé"
  />
  <img
    class="home-blocbleu"
    src="/assets/images/image17.png"
    alt="Image de professionnels de santé"
  />
  <p class="home-mission-text1">
    ALENIA, des <span>professionnel</span> de la santé, des
    <span>facilitateurs</span>
  </p>
  <p class="home-mission-text2">
    et des <span>bénéficiaires</span> de soins de qualité axés sur la croissance
    organique
  </p>
  <div class="home-image-text-container">
    <div class="home-text-container">
      <h1>Notre mission</h1>
      <p class="home-welcome-text1">
        Bienvenue sur notre plateforme dédiée à la santé, où chaque mission est
        une opportunité <br />
        de faire une différence dans le domaine médical. Explorez nos
        possibilités et découvrez <br />
        comment nous simplifions la recherche et la participation à des missions
        pour les <br />
        professionnels de la santé engagés
      </p>
      <img
        class="home-bordure1"
        src="/assets/images/clients-categories-section.png"
        alt="Image de professionnels de santé"
      />
    </div>
  </div>
</section>

<section class="home-mission-section home-reverse-section">
  <div class="home-container">
    <div class="home-images"></div>
    <div></div>
    <div class="home-rectangle">
      <img
        class="home-img"
        src="/assets/images/Terrefemme.png"
        alt="Image de professionnels de santé"
      />
      <h2 class="home-title-valeurs">Nos valeurs</h2>
      <p class="home-texte-valeurs">
        Explorez nos différentes opportunités, <br />
        de remplacements médicaux à des interventions d'urgence, en passant
        <br />
        par des collaborations enrichissantes au sein d'établissements de santé.
        <br />
        Qu'il s'agisse de missions à court terme ou de projets humanitaires à
        <br />
        long terme, nous avons à cœur de simplifier votre engagement, <br />
        vous permettant de vous concentrer pleinement sur ce qui compte : <br />
        votre impact positif dans le domaine médical.
      </p>
    </div>
  </div>
</section>
