<div class="profil-center-container2">
  <div class="profil-option" onclick="toggle('info')">
    Informations personnelles
    <div id="info" class="profil-content">
      <textarea class="profil-textarea"></textarea>
    </div>
  </div>
  <div class="profil-option" onclick="toggle('phone')">
    Numéro de téléphone
    <div id="phone" class="profil-content">
      <textarea class="profil-textarea"></textarea>
    </div>
  </div>
  <div class="profil-option" onclick="toggle('email')">
    Adresse e-mail
    <div id="email" class="profil-content">
      <textarea class="profil-textarea"></textarea>
    </div>
  </div>
  <div class="profil-option" onclick="toggle('address')">
    Adresse de domicile
    <div id="address" class="profil-content">
      <textarea class="profil-textarea"></textarea>
    </div>
  </div>
  <div class="profil-option" onclick="toggle('info2')">
    Informations personnelles
    <div id="info2" class="profil-content">
      <textarea class="profil-textarea"></textarea>
    </div>
  </div>
  <div class="profil-option" onclick="toggle('password')">
    Modifier mon mot de passe
    <div id="password" class="profil-content">
      <textarea class="profil-textarea"></textarea>
    </div>
  </div>
  <div class="profil-option profil-delete" onclick="deleteAccount()">
    Supprimer mon compte
  </div>
</div>
