<div>
  <div class="sidebar2">
    <div class="nav-item2">Planning</div>
    <div class="nav-item2">Préstations</div>
    <a routerLink="/profil2" class="nav-item2">Fiches de poste</a>
    <a routerLink="/profil2" class="nav-item2">Contrats</a>
    <a routerLink="/profil2" class="nav-item2">Relevés d'heures</a>
    <a routerLink="/profil3" class="nav-item2">factures</a>
    <div class="nav-item2">Paramètres</div>
    <hr />
    <button class="nav-item2 logout2" onclick="deconnexion()">
      + Nouvelle demande
    </button>
    <hr />
  </div>
  <div class="navbar4">
    <a routerLink="/missions" class="nav-item4">Missions</a>
    <a routerLink="#" class="nav-item4">Brouillon</a>
    <a routerLink="#" class="nav-item4">Terminé</a>
  </div>
</div>

<div class="grey-box2">
  <p>
    Bonjour Allan !<br />
    Toutes vos missions avec Alenia s'afficheront ici.<br />
    Pour démarrer, il suffit de cliquer sur le bouton<br />
    “Nouvelle demande” en bas de la barre de navigation de gauche.
  </p>
</div>
