<section class="content-section">
  
  <div class="content-container">
    <div>
      <h1>Alénia à votre Service</h1>
      <p>
        Bienvenue chez Lénia, votre partenaire de confiance pour l'intérim
        médical. Notre équipe expérimentée s'engage à fournir des solutions
        flexibles et personnalisées. Que vous soyez un établissement de santé ou
        un professionnel, nous sommes là pour simplifier votre processus de
        recrutement. Rejoignez-nous dès aujourd'hui pour trouver les meilleures
        opportunités ou les meilleurs talents.
      </p>
    </div>
  </div>
</section>

<diV class="jolie"></diV>
<div class="new-title-container">
  <h1>Quelques Etapes Suffisent</h1>
</div>
<diV class="jolie"></diV>


<div class="container">
  <div class="images">
    <img src="/assets/images/image16.png" class="new-image" />
  </div>
  <div class="rectangle-ombre">
    <div class="text-zone">
      <h1>Lénia à votre Service</h1>
      <p>
        Première étape : Mobilisez votre personnel soignant à se joindre à votre
        réseau Diffusez le code d'affiliation de votre établissement auprès de
        tous vos collaborateurs, qu'ils soient permanents, temporaires ou
        contractuels, afin qu'ils puissent se connecter à votre plateforme.
        Après vérification de leur intégration, assurez-vous de valider avec
        soin les métiers exercés ainsi que les compétences qu'ils déclarent.
        Pour élargir davantage votre réseau, tirez parti des outils de
        communication fournis par Hublo pour attirer de nouveaux talents dans le
        domaine des soins de santé.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="rectangle2">
    <div class="text-zone">
      <h1>
        Une génération automatique des contrats & la signature électronique
      </h1>
      <p>
        Vos contrats de CDD/vacations sont générés automatiquement selon la
        trame de votre établissement. Nous envoyons directement la DPAE à
        l'URSSAF. Il ne vous reste plus qu'à signer vos contrats en un clic,
        grâce à la signature électronique !
      </p>
    </div>
  </div>
  <div class="images">
    <img src="/assets/images/etapes.png" class="new-image" />
  </div>
</div>
