<div class="profil-image-container">
  <img
    src="/assets/images/dossier.jpg"
    alt="Description de l'image"
    class="profil-image-container-img"
  />
</div>

<div class="profil-cv-container">
  <div class="profil-cv-icon">📄</div>
  <!-- Icône de document -->
  <div class="profil-cv-text">Pas de CV</div>
  <!-- Texte "Pas de CV" -->
  <div class="profil-cv-warning">⛔</div>
  <!-- Icône d'avertissement -->
</div>

<a routerLink="#" class="profil-cv-item">Importer mon CV</a>
<div class="profil-navbar3">
  <a routerLink="#" class="profil-nav-item3">CV</a>
  <a routerLink="#" class="profil-nav-item3">Diplôme</a>
  <a routerLink="#" class="profil-nav-item3">Pièce d'identité</a>
  <a routerLink="#" class="profil-nav-item3">RIB/IBAN</a>
  <a routerLink="#" class="profil-nav-item3">Attestation de sécurité sociale</a>
</div>
