<div class="content" *ngIf="missions.length > 0">
  <div class="mission-detail" *ngFor="let mission of missions">
    <h2 class="center">{{ mission.name }}</h2>
    <h3 class="center poste">{{ mission.status }}</h3>

    <!-- Petite barre grise sous le poste -->
    <hr class="divider" />

    <p class="center"><strong>Établissement:</strong> {{ mission.etablissement }}</p>

    <!-- Bouton postuler centré -->
    <div class="center button-container">
      <button class="apply-button">Postuler maintenant</button>
    </div>
  </div>
</div>