<div class="calendar">
  <div class="navigation">
    <button class="arrow">←</button>
    <div class="month">Mars 2024</div>
    <button class="arrow">→</button>
  </div>
  <button class="today">Jours de la semaine</button>
  <div class="days">
    <span>lun.</span><span>mar.</span><span>mer.</span><span>jeu.</span
    ><span>ven.</span><span>sam.</span><span>dim.</span>
  </div>
  <div class="dates">
    <button disabled>25</button>
    <button disabled>26</button>
    <button disabled>27</button>
    <button disabled>28</button>
    <button id="selected4">29</button>
    <button disabled>30</button>
    <button disabled>31</button>
  </div>
  <div class="message">
    <p>Aucun créneaux</p>
    <p>Vous n'avez pas de créneau privé cette semaine.</p>
    <button>+ renseigner mes dispos</button>
  </div>
</div>
