<section>
  <div class="flex-container">
    <div class="text">
      <h2>
        Une solution de <br />
        gestion des <br />
        remplacements simple <br />
        et efficace
      </h2>
      <p class="welcome-text1" style="margin: 0%">
        Ne perdez plus de temps au téléphone. <br />
        Postez vos besoins de remplacements <br />
        en quelques clics, et attendez que les <br />
        soignants disponibles et compétents <br />
        pour vos missions viennent à vous !
      </p>
    </div>
    <div class="image-container">
      <img
        src="/assets/images/Capture_d_ecran_2024-04-07_170236-removebg-preview.png"
        alt="Description de l'image"
      />
    </div>
  </div>
</section>

<!-- Deuxième section -->
<section>
  <div class="no-bullets" style="text-align: center">
    <h2>Alenia : passionné par la santé et le bien être de tous</h2>
  </div>
</section>

<!-- Troisième section -->
<section style="background-color: rgb(255, 211, 211); display: flow-root">
  <ul class="no-bullets" style="text-align: center">
    <p class="welcome-text2" style="font-size: 20px">
      Nous croyons fermement que la santé est la pierre angulaire d’une vie
      <br />
      épanouissante. Notre équipe dévouée s’efforce de créer des solutions
      <br />
      innovantes qui améliorent la qualité de vie de nos clients. Que ce soit en
      <br />
      fournissant des professionnels de la santé temporaires aux
      <br />
      établissements médicaux ou en développant des programmes de bien<br />-être
      sur mesure, nous sommes déterminés à faire une différence <br />
      positive.
    </p>
  </ul>
</section>

<!-- Quatrième section -->
<section>
  <div class="no-bullets">
    <h2 class="titol-L">Alenia PARTOUT !</h2>
  </div>
</section>

<!-- 5ème section -->
<section class="image-woman">
  <img
    class="centered-image"
    src="/assets/images/woman-8439000_640 1.png"
    alt="Votre image"
  />
  <!--mettre le chemin de l'image-->
</section>

<!-- 6ème section -->
<section class="image-woman">
  <img
    class="centered-image"
    src="/assets/images/image17t.png"
    alt="Votre image"
  />
  <!--mettre le chemin de l'image-->
  <p class="test">
    Notre engagement va au-delà des simples services. Nous sommes là pour
    écouter, comprendre et <br />
    accompagner nos clients dans leur parcours vers une meilleure santé. Chaque
    membre de l’équipe <br />
    ALenia partage cette vision et travaille avec passion pour la concrétiser.
  </p>
</section>
